@import "variables";
.header-box {
  font-family: $fontMarcellus;
  color: rgba(241, 237, 237, 0.973);
  letter-spacing: 0.5rem;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%);
	text-align:center;
  z-index: 9;
}
a {
  text-decoration: none;
  font-family: $fontHeader;
}
ul {
  list-style: none;
  margin-bottom: 0 !important;
}
.navbar-logo {
  vertical-align: middle;
  float: left;
  width: 70px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.container-navbar {
  max-width: 1170px;
  margin: auto;
}
.row-navbar {
  display: flex;
  flex-wrap: wrap;
}
.align-items-navbar {
  align-self: center;
}
.justify-content-navbar {
  justify-content: space-between;
}
.header {
  background-color: $color4;
  position: fixed; //esto era "position: relative" antes //
  width: 100%;  //esto no iba directamente //
  z-index: 99;
  top: 0;
  .logo, .nav {
    padding: 0 15px;
    align-items: center;
  }
  .nav ul li {
    display: inline-block;
    margin-left: 40px;
    a {
      display: block;
      font-size: 1rem;
      font-weight: 600;
      padding: 10px;
      border-radius: 5%;
      color: $colorFont;
      text-transform: uppercase;
      &:hover, &:active {
        color: $colorFont;
        background-color: $color2;
      }
    }
  }
  .active {
    color: $colorFont;
    background-color: $color2;
  }
  #nav-check {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}
.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: $color2;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: $color4;
    position: relative;
    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color4;
      left: 0;
    }
    &::before {
      top: -6px;
    }
    &::after {
      top: 6px;
    }
  }
}