// Inicio Menu de navegacion //
@media (max-width: 991px) {
  .nav-toggler {
    display: flex;
    align-self: center;
  }

  .header {
    .nav {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: $color4;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      opacity: 0;
      visibility: hidden;
      justify-content: center;

      ul {
        padding: 0;
        text-align: center;
      }

      ul li {
        display: block;
        margin: 0;
      }
    }

    #nav-check {
      &:checked ~ .nav {
        opacity: 1;
        visibility: visible;
      }

      &:focus ~ .nav-toggler {
        box-shadow: 0 0 15px #000000;
      }

      &:checked ~ .nav-toggler span {
        background-color: transparent;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }

        &::after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
// Fin Menu navegacion //
// Posicionamiento //
@media only screen and (min-width: 320px) and (max-width: 1023px) {
  body {
    font-size: 1.3rem;
  }

  .header-box {
    font-family: $fontMarcellus;
    color: rgba(241, 237, 237, 0.973);
    letter-spacing: 0.5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 9;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-top: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
  }

  .carousel {
    max-height: 100vh;
  }

  #bloque-1,
  .contenedor-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  #bloque-2,
  .contenedor-flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
  }

  #bloque-nosotros div img {
    padding: 1rem;
  }

  #bloque-promo,
  .contenedor-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .centrado-texto {
    text-align: center;
    padding: 1rem;
  }

  .centrado-parrafos {
    text-align: left;
    padding: 1rem;
  }

  .centrado-titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #bloque-email,
  .contenedor-flex-col {
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }

  .pie-de-pagina {
    padding: 40px 0;
  }

  .pie-de-pagina .social {
    padding-bottom: 5px;
  }

  .img-promo {
    max-width: 100%;
    max-height: 100%;
  }

  .lista-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lista-footer li {
    margin-bottom: 5px;
  }

  #bloque-contacto,
  .contenedor-flex-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #bloque-contacto,
  .img-max-size {
    max-width: 100%;
    max-height: 100%;
  }

  #bloque-contacto,
  .centrado-parrafos {
    text-align: left;
    padding: 1rem;
  }

  #contact,
  #formulario,
  .container-formulario {
    width: 100%;
    margin: 1rem auto;
  }
  @mixin boton-formato {
    font-weight: 600;
    text-transform: uppercase;
    font-family: $fontMontserrat;
    padding: 5px 15px;
    border-radius: 100px;
    border: 2px solid $color3;
    font-size: 0.7rem;
  }

  .boton {
    @include boton-formato();
  }

  .boton:active,
  .boton:hover {
    background-color: $color3;
    color: $color1;
  }
}
@media screen and (max-width: 1023px) {
  .wow {
    animation-name: none !important;
    visibility: visible !important;
  }
}
