// Tipos de Fuente //
$fontMontserrat: 'Montserrat', sans-serif;
$fontMarcellus: 'Marcellus', serif;
$fontHeader: 'Source Code Pro', monospace;
// Colores //
$color1: #faf5ee;
$color2: #e2daee;
$color3: #f1abc4;
$colorFont: #22223b;
$color4: #b9a7d1;
$color5: #FFF;
$colorBody: #fcf0f3;
$back-formulario: #F9F9F9;
$borde-formulario: #ccc;
